#page {
  margin: 0 auto;
  width: 720px;
  background-color: antiquewhite;
  color: black;
  padding: 40px;
  font-family: 'Gothic', '고딕';
  text-align: center;
}
h1{
  background-color: burlywood;
}

#bling {
  font-weight: bolder;
  font-size: 1.2em;
  animation: point 1s infinite;
}
@keyframes point{
  from{
    color: red;
  }
}