#page {
  margin: 0 auto;
  width: 720px;
  background-color: antiquewhite;
  color: black;
  padding: 40px;
  font-family: 'Gothic', '고딕';
  text-align: center;
}
h1{
  background-color: burlywood;
  animation: point 1s infinite;
}

.myTag {
  margin: 30px;
  border: 3px solid black;
  border-radius: 2em;
  background-color: cadetblue;
}

.myTag:hover {
  background-color: white;
}

#bling {
  font-weight: bolder;
  font-size: 1.2em;
}
@keyframes point{
  from{
    color: red;
  }
}